{% extends 'base.html.twig' %}
{% block body %}
    <span>Barre de recherche ici</span>
    <br>
    <span>Tableau de résultats ici</span>
    <br>
    {# A quoi ça sert ça ?
    {% set var ='<strong>titre en gras</strong>' %}
    {{ var | raw }} #}
{% endblock %}
{% block title %}{{ parent() }} | Home {% endblock%}
