body {    background-color:#FFFFFF;
    font-family: 'Calibri', serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
.container {
    max-width: 1000px;
    margin: auto;
    padding: 5px;


}
body > .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header h1 {
    margin: 0 0 10px 0;
    flex: 2;
}
.header-logo {
    font-size: 3rem;
    font-weight: normal;
}

header a {
    text-decoration: none;
    color: tomato;
}
header nav a:hover {
    text-decoration: underline;
}
.header-logo img {
    max-width: 280px;
}

.header-top {
    display:flex;
    justify-content: left;
    background-color:#FFFFFF;


}
footer{
    text-align: center;
    padding: 2rem 0;

}
footer > .container {
    background-color:tomato;
    border-radius: 30px;

}

nav ul {
    display: flex;
    list-style: none;
    padding-left: 0;
}

nav li {
    margin-right: 1rem;
}

main {

    border-radius: 10px;
    flex: 1;
    padding: 1rem 0;

}