{% extends 'base.html.twig' %}

{% block title %}Mes sorties !{% endblock %}

{% block body %}
<table class="table table-responsive">
    <thead class="thead-dark">
    <tr>
        <th scope="col"> Nom de la sortie</th>
        <th scope="col"> Date de la sortie </th>
        <th scope="col"> Lieu </th>
    </tr>
    <tbody>
    {% for u in users %}
    <tr>
        <td><a href="#" >{{ u.sorties.nom }}</a></td>
        <td>{{ u.sorties.dateHeureDebut | format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY HH:mm")}}</td>
        <td>{{ u.sorties.lieu }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}