<nav class="header-nav">
    <ul>
        <li> <a href="#" title="villes">Villes</a></li>
        <li> <a href="#" title="Campus">Campus</a></li>
        <li> <a href="#" title="Accueil">Accueil</a></li>
        <li><a href="#" title="Profil">Mon profil</a></li>
        <li><a href="#" title="Deconnection">Se déconnecter</a></li>

    </ul>
</nav>