<nav class="p-0">
    {% if(app.user) %}
        {% if(is_granted('ROLE_ADMIN')) %}
            <ul class="navbar adminnav justify-content-center">
                <li>Options administrateur : </li>
                <li class="nav-link"><a href="{{ path('app_admin_register')}}" title="Inscrire utilisateur">Inscrire utilisateur</a></li>
                {# Je propose de rajouter ceci par rapport à la maquette vu qu'Hervé à dit de le faire faire par l'admin... #}
                <li class="nav-link"> <a href="#" title="Ajouter lieu de sortie">Ajouter lieu de sortie</a></li>
                <li class="nav-link"> <a href="#" title="Ajouter ville">Ajouter ville</a></li>
                <li class="nav-link"> <a href="#" title="Ajouter campus">Ajouter campus</a></li>
            </ul>
        {% endif %}
    {% endif %}
</nav>